.header {
    background-color: #c2c0ae;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

h1 {
    display: flex;
}

.header_img {
    width: 100px;
    border-radius: 50%;
}

.links {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/*.link {*/
/*    text-decoration: none;*/
/*    color: inherit;*/
/*    justify-content: space-between;*/
/*}*/

h4 {
    font-weight: 300;
}